.button {
    box-sizing: border-box;
    min-width: 227px;
    min-height: 45px;
    padding: 10px 66px;
    font: inherit;
    font-size: 16px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 90px;
    background-color: #fff;
    // transition: ease-in-out 0.5s all;
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 3px $primary-color;

    }
}

.button--error {
    background-color: $error-color;
    color: #fff;
    font-size: 16px;
    border: 0;
    background-image: none;
}

.button--preloading {
    background-color: $preloading-color;
    background-image: url(../img/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 0;
}