.password {
    display: flex;
    position: relative;
    max-width: 330px;
}

.password__toggle {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
    width: 23px;
    height: 13px;
    background-image: url("../img/eye.svg");
    background-position: center;
    background-size: 23px 13px;
    border: 0;
    background-color: transparent;

}

.password__input {
    padding-right: 40px;
}