.password {
    display: flex;
    position: relative;
    max-width: 330px;
}

.password__toggle {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
    width: 23px;
    height: 13px;
    background-image: url(../img/eye.svg), url(../img/line.svg);
    background-position: center, center;
    background-size: 23px 13px, 19px 19px;
    background-repeat: no-repeat, no-repeat;
    border: 0;
    background-color: transparent;

}

.password__input {
    padding-right: 40px;
}

.password__label {
    display: none;
    position: absolute;
    padding: 0 4px;
    left: 10px;
    top: -7px;
    background-color: #fff;
    color: $primary-color;
    font-size: 10px;
}